.btn-hor-margin {
  margin: 0 5px;
}

.form-ver-margin {
  margin: 10px 0;
}

.form-border {
  box-shadow: 0 0 5px blue;
  padding: 10px;
  border-radius: 5px;
}

.sub-form-border {
  box-shadow: 0 0 3px #26b314;
  padding: 5px;
  border-radius: 5px;
}

.radios-center {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}

.radio-hor-margin {
  margin: 0 15px;
}